<link rel="stylesheet" href="./css/campgrounds.css">
{{>navbar}}
<div class="container col-8 rounded-3 mt-4">
    <p class="fs-1 mb-1">Welcome To YelpCamp!</p>
    <p class="fs-4">View our hand-picked campgrounds from all over the world</p>
    <a href="/campgrounds/new" class="btn btn-lg btn-primary mb-4">Add New Campground</a>
</div>