<link rel="stylesheet" href="./css/landing.css">

<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active d-flex justify-content-center">
            <img src="../assets/bg1.jpg" alt="background-holder-1">
        </div>
        <div class="carousel-item d-flex justify-content-center">
            <img src="../assets/bg2.jpg" alt="background-holder-3">
        </div>
        <div class="carousel-item d-flex justify-content-center">
            <img src="../assets/bg3.jpg" alt="background-holder-3">
        </div>
        <div class="carousel-item d-flex justify-content-center">
            <img src="../assets/bg4.jpg" alt="background-holder-4">
        </div>
    </div>
</div>
<div class="container">
    <div class="col-12">
        <p class="fs-1 text-center mb-1">Welcome to myCamps!</p>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <a href="/campgrounds" class="btn btn-success btn-lg">View All Campgrounds</a>
    </div>
</div>